base-color = #152131

body 
    font-size: 20px
body,div
    margin: 0
    padding: 0
    background: #ffef5e
.border
    border: 1px solid base-color
.main 
    position relative    
    width: 700px
    margin: -50px auto
.wanzi
    position: absolute
    top: 250px
    left 100px
    z-index: 10
.hairs
    background: base-color
    width: 190px
    height 250px
    left -30px
    top -50px
    position: absolute
    border-radius: 50% 50% 0 0
    overflow hidden
    &:after
        content ' '
        position absolute
        width  300px
        height 200px
        background #ffef5e
        top 120px
    .hair
        width: 35px
        height 45px
        background: base-color
        position absolute
        z-index 1
        transform rotate(70deg) scale(1) skew(44deg) translate(8px)
        &.hair1
            top 17px
            left 30px
        &.hair2
            top 8px
            left 52px
        &.hair3
            top 4px
            left 73px
        &.hair4
            top 0px
            left 95px   
        &.hair5
            top 4px
            left 115px
        &.hair6
            top 8px
            left 135px
        &.hair7
            top 17px
            left 17px          
.face
    background: #fbdac7
    width: 130px
    height 100px
    position absolute
    top 0
    border-radius: 20px 20px 50px 50px
    border-style: solid 
    border-width: 0.01px
    border-color: #5D514C
    .brow
        width: 42px
        height 10px
        background: base-color
        position absolute
        top 26px
        border-radius: 50%     
        &.left-brow
            left 18px
            transform: rotate(-10deg)       
        &.right-brow
            right 14px
            transform: rotate(10deg) 
    .eye
        width: 15px
        height 15px
        background: base-color
        position absolute
        top 40px
        z-index 2
        border-radius: 50%
        &.left-eye
            left 30px      
        &.right-eye
            right 33px     
    .mouth
        width: 26px
        height 25px
        position absolute
        background-color: #E06B6C
        top 60px
        left 52px
        z-index 2
        border-radius:50%
        border-style: solid 
        border-width: 0.01px
        border-color: #5D514C       
        &:after
            content ''  
            width: 26px
            height 16px
            position absolute
            background-color:#fbdac7
    .blusher      
        width: 13px
        height 13px
        background: #FD9D99
        position absolute
        top 40px
        z-index 2
        border-radius: 50%
        &.left-blusher
            top 70px
            left: 14px
        &.right-blusher
            top 70px
            right 14px
    .ear
        width 13px
        height 22px
        position absolute
        background: #fbdac7
        z-index 2
        &.left-ear
            top 40px
            left -12.1px
            border-radius: 35% 0 0% 50%
        &.right-ear
            top 40px
            right: -12.1px
            transform: rotate(180deg)
            border-radius: 50% 0% 0% 35%
    &:after
        content ''  
        width: 20px
        height 13px
        position absolute
        z-index 2
        background-color:#fbdac7
        border-style: solid 
        border-width: 0.01px
        border-color: base-color
        top 99.6px
        left 55px
.clothes
    background: #fff;    
    width: 70px;
    height: 80px;
    position: absolute;
    top:112px;
    left: 31px;
    z-index: 2;
    border-radius: 30% 30% 0 0;
    overflow: hidden;
    border-style: solid 
    border-width: 0.01px
    border-color: base-color
    z-index: 1
    .collar
        width: 13px
        height 35px
        position absolute
        z-index: 3
        background:#fff
        border-style: solid 
        border-width: 0.01px
        border-color: base-color
        &.left-collar
            transform: rotate(-45deg)
            top -13px
            left 11px
        &.right-collar
            transform: rotate(45deg)
            right 11px
            top -13px
    .straps
        width: 8px
        height 80px
        position absolute
        background-color: #F7002C
        &.left-straps
            left 10px
        &.right-straps
            right 10px
.arm  
    width: 130px
    height 77.5px
    position absolute
    background-color:#fff
    top 115px   
    z-index: 1.5  
    border-style: solid 
    border-width: 0.01px
    border-color: base-color
    border-radius:60px 60px 60px 60px 
    &:after
        content ""
        width: 100px
        height 60px
        border-style: solid 
        border-width: 0.01px
        border-color: base-color
        background: #ffef5e
        position absolute
        top 10px
        left 15px
        border-radius:60px 60px 60px 60px 
        z-index: 1.8  
.blet
    width: 70px
    height 10px
    position absolute
    top 191px
    left 31px
    border-style: solid 
    border-width: 0.01px
    border-color: base-color
    background: red
    z-index: 2      
.skirt
        background: #ed023a;
        position: absolute;
        background:  none;
        border-color: #e9003a transparent;
        border-image: none;
        border-style: solid;
        border-width: 0px 30px 50px;
        height: 0;
        left: 1px;
        position: absolute;
        top: 201px;
        width: 70px; 
        z-index: 2;
        border-radius: 0 0 50% 50%;
        .line  
            width: 1px;
            height: 30px;
            position: absolute;
            background: #000;
            top:10px;
            transform-origin:0 0;
            &.line1
                left: 15px
                transform:rotate(20deg)
            &.line2
                left: 25px
                transform:rotate(10deg)
             &.line3
                left: 35px
                transform:rotate(0deg)
             &.line4
                left: 46px
                transform:rotate(-10deg)
             &.line5
                left: 55px
                transform:rotate(-20deg)
.left-foot
    position absolute
    width: 15px
    height 70px
    z-index 1.5
    background: #FEDCC7
    top 230px
    left 35px
    border-style: solid 
    border-width: 0.01px
    border-color: base-color
    &:after
        content: ''
        position absolute
        width: 15px
        height 20px
        z-index 3
        background: #FFFFFF 
        top 60px
        border-style: solid 
        border-width: 0.01px
        border-color: base-color
.right-foot
    position absolute
    width: 15px
    height 70px
    z-index 1.5
    background:#FEDCC7
    top 230px
    left 80px
    border-style: solid 
    border-width: 0.01px
    border-color: base-color
    &:after
        content: ''
        position absolute
        width: 15px
        height 20px
        z-index 3
        background: #FFFFFF 
        top 60px
        border-style: solid 
        border-width: 0.01px
        border-color: base-color  
.left-socks
    position absolute
    width: 33px
    height 12px
    z-index: 2
    background: #FFFFFF 
    top 298px
    left 17px
    border-radius: 40%
    border-style: solid 
    transform rotate(-10deg)
    border-width: 0.01px
    border-color: base-color
.right-socks
    position absolute
    width: 33px
    height 12px
    z-index: 2
    background: #FFFFFF 
    top 298px
    left 80px
    border-radius: 40%
    border-style: solid 
    transform rotate(10deg)
    border-width: 0.01px
    border-color: base-color
.left-shose
    position absolute
    width: 40px
    height 18px
    z-index: 1
    background: #A82B28 
    top 298px
    left 11px
    border-radius: 40%
    border-style: solid 
    transform rotate(-10deg)
    border-width: 0.01px
    border-color: base-color
.right-shose
    position absolute
    width: 40px
    height 18px
    z-index: 1
    background: #A82B28 
    top 298px
    left 79px
    border-radius: 40%
    border-style: solid 
    transform rotate(10deg)
    border-width: 0.01px
    border-color: base-color
// .wanzi .hairs
//     background #000

// .grandpa .hairs
//     background #fff